body{
    font-family: lucida_grande;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(50,50,50,.6);
    z-index: 100;
}
footer{
    position: relative;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: #6ec465;
}
h1{
    font-size: 24px;
}
.content{
    background: url(../img/main_img.png);
    background-size: cover;
    width: 100%;
    position: relative;
    background-color: transparent;
    min-width: 768px;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top{
    min-height: 100px;
    margin-top: 100px;
}
.main-container{
    margin-top: 100px;
    margin-bottom: 100px;

}
.category{
    max-width: 20%;
    text-align: center;
    padding-bottom: 20px;
}
.logo img{
    padding: 15px;
}
.category-img{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.users, .search, .area, .button{
    display: inline;
}
.search{
    padding: 7px;
    border-left: solid 1px #b8b8b8;
    border-right: solid 1px #b8b8b8;
}
.search input{
    width: 360px;
    border: none;
    margin: 5px;
}
.add-search{
    padding: 9px 15px 10px 10px;
    margin: 10px 0 0;
    background: #4cda64;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}
.search-block{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    height: 75%;
    margin: auto;
    padding: 0;
    text-align: right;
}
.search-block img{
    margin: 5px;
}
.customer-block{
    margin: auto;
    color: #fff;
}
.add{
    float: left;
    padding: 9px 15px 7px 10px;
    margin: 10px 0 0;
    background: #4cda64;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.add-border{
    float: left;
    padding: 9px 15px 7px 10px;
    margin: 10px 0 0;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    border: 1px solid;
}
.footer-link{
    color: #fff;
    margin-left: 35px;
}
@media (max-width: 1200px) {
    .search input{
        width: 270px;
    }
}
@media (max-width: 990px) {
    .search input{
        width: 150px;
    }
}